.categorySection {
    width: 100vw;
    height: fit-content;
    margin: 7.5rem 0px 0px 0px;

    display: flex;
    justify-content: center;
}

.categoryContainer {
    width: 70%;
    height: 17.75rem;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.headphones {
    background-color: #f1f1f1;
}

.speakers {
    background-color: #f1f1f1;
}

.earphones {
    background-color: #f1f1f1;
}