.categorySection {
    width: 100vw;
    height: fit-content;
    margin: 7.5rem 0px 0px 0px;

    display: flex;
    justify-content: center;
}

.categoryContainer {
    width: 70%;
    height: 17.75rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.shopButton {
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: black;
    opacity: 80%;

    display: flex;
    align-items: center;
}

.shopButton > * {
    margin-left: 13px;
}


/* headphone category */

.headphones {
    grid-column: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.headphoneImage {
    height: 10rem;
    width: auto;
    position: relative;
    z-index: 2;
}

.headphones > div {
    background-color: #f1f1f1;
    width: 100%;
    height: 12.75rem;
    transform: translateY(-5.25rem);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headphones > div > p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.29px;
    margin-bottom: 15px;
}








.speakers {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.speakersImage {
    height: 10rem;
    width: auto;
    position: relative;
    z-index: 2;
}

.speakers > div {
    background-color: #f1f1f1;
    width: 100%;
    height: 12.75rem;
    transform: translateY(-5.25rem);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.speakers > div > p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.29px;
    margin-bottom: 15px;
}





.earphones {
    grid-column: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.earphonesImage {
    height: 10rem;
    width: auto;
    position: relative;
    z-index: 2;
}

.earphones > div {
    background-color: #f1f1f1;
    width: 100%;
    height: 12.75rem;
    transform: translateY(-5.25rem);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.earphones > div > p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.29px;
    margin-bottom: 15px;
}