@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}



